<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
<servlet>
<servlet-name>ServletConfig</servlet-name>
<servlet-class>ServletConfig</servlet-class>

  
  <init-param>
  <param-name>name</param-name>
  <param-value>com.info.demo.ServletConfig</param-value>
  </init-param>
  </servlet>
  
  <servlet>
   <servlet-name>Basic</servlet-name>  
<servlet-class>com.info.demo.Basic</servlet-class>  
</servlet>  

  <servlet>  
<servlet-name>ServletDemoExample5</servlet-name>  
<servlet-class>com.info.demo.ServletRequest</servlet-class>  
</servlet>  

<servlet>  
<servlet-name>ServletDemoExample</servlet-name>  
<servlet-class>com.info.demo.RDLoginServlet</servlet-class>  
</servlet>  

<servlet>  
<servlet-name>ServletDemoExample1</servlet-name>  
<servlet-class>com.info.demo.RDWelcomeServlet</servlet-class>  
</servlet>  

<servlet>  
<servlet-name>ServletDemoExample2</servlet-name>  
<servlet-class>com.info.demo.SendRedirectServlet</servlet-class>  
</servlet>  

<servlet>  
<servlet-name>ServletDemoExample3</servlet-name>  
<servlet-class>com.info.demo.SendRedirectMysearchServlet</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>s1</servlet-name>  
<servlet-class>com.info.demo.AttributeSevlet</servlet-class>  
</servlet>  

<servlet>  
<servlet-name>s2</servlet-name>  
<servlet-class>com.info.demo.AttributeServlet1</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>cookie</servlet-name>  
<servlet-class>com.info.demo.Cookie1</servlet-class>  
</servlet>  

<servlet>  
<servlet-name>cookie2</servlet-name>  
<servlet-class>com.info.demo.Cookie2</servlet-class>  
</servlet>  

<servlet>  
<servlet-name>hidden</servlet-name>  
<servlet-class>com.info.demo.HiddenField1</servlet-class>  
</servlet>  

<servlet>  
<servlet-name>hidden2</servlet-name>  
<servlet-class>com.info.demo.HiddenField2</servlet-class>  
</servlet>  

<servlet>  
<servlet-name>uwrite</servlet-name>  
<servlet-class>com.info.demo.Urlwriting1</servlet-class>  
</servlet>  

<servlet>  
<servlet-name>uwrite1</servlet-name>  
<servlet-class>com.info.demo.UrlWriting2</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>sessionSevlet</servlet-name>  
<servlet-class>com.info.demo.HttpSession1</servlet-class>  
</servlet> 

<servlet>  
<servlet-name>sessionServlet1</servlet-name>  
<servlet-class>com.info.demo.HttpSession2</servlet-class>  
</servlet> 

<servlet-mapping>  
<servlet-name>sessionSevlet</servlet-name>  
<url-pattern>/session</url-pattern>  
</servlet-mapping> 

<servlet-mapping>  
<servlet-name>sessionServlet1</servlet-name>  
<url-pattern>/session2</url-pattern>  
</servlet-mapping> 
 

<servlet-mapping>  
<servlet-name>uwrite</servlet-name>  
<url-pattern>/rewrite</url-pattern>  
</servlet-mapping> 

<servlet-mapping>  
<servlet-name>uwrite1</servlet-name>  
<url-pattern>/rewrite2</url-pattern>  
</servlet-mapping> 



<servlet-mapping>  
<servlet-name>hidden</servlet-name>  
<url-pattern>/hide</url-pattern>  
</servlet-mapping> 

<servlet-mapping>  
<servlet-name>hidden2</servlet-name>  
<url-pattern>/hide2</url-pattern>  
</servlet-mapping> 


<servlet-mapping>  
<servlet-name>cookie</servlet-name>  
<url-pattern>/cookieex</url-pattern>  
</servlet-mapping>        
  
 <servlet-mapping>  
<servlet-name>cookie2</servlet-name>  
<url-pattern>/cook</url-pattern>  
</servlet-mapping>        
  
  
<servlet-mapping>  
<servlet-name>s1</servlet-name>  
<url-pattern>/Servlet</url-pattern>  
</servlet-mapping>  
  

<servlet-mapping>  
<servlet-name>s2</servlet-name>  
<url-pattern>/AttributeServlet1</url-pattern>  
</servlet-mapping>  

<servlet-mapping>  
<servlet-name>ServletDemoExample2</servlet-name>  
<url-pattern>/MySearcher</url-pattern>  
</servlet-mapping>  
 
 <servlet-mapping>  
<servlet-name>ServletDemoExample3</servlet-name>  
<url-pattern>/name</url-pattern>  
</servlet-mapping>  
  
<servlet-mapping>  
<servlet-name>ServletDemoExample</servlet-name>  
<url-pattern>/servlet1</url-pattern>  
</servlet-mapping>  


 <servlet-mapping>  
<servlet-name>ServletDemoExample5</servlet-name>  
<url-pattern>/welcome</url-pattern>  
</servlet-mapping>  
 
 
<servlet-mapping>  
<servlet-name>ServletConfig</servlet-name>  
<url-pattern>/Servlet1</url-pattern>  
</servlet-mapping>  


  
</web-app>
